@font-face {
    font-family: 'BR Sonoma';
    src: url('./BRSonoma-Black-BF654c4525506bf.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'BR Sonoma';
    src: url('./BRSonoma-Bold-BF654c4526823f5.otf') format('opentype');
    font-weight: 700; // 700 es el peso para "Bold"
    font-style: normal;
}

@font-face {
    font-family: 'BR Sonoma';
    src: url('./BRSonoma-Medium-BF654c45266edd1.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'BR Sonoma';
    src: url('./BRSonoma-Regular-BF654c45266c042.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BR Sonoma';
    src: url('./BRSonoma-Thin-BF654c45255ffe0.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}